<app-header-insotec [inicio]=true [fin]=true></app-header-insotec>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Evaluar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>Colaborador: <b> {{colaborador?.name}} </b></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <h3 class="fullText ion-text-capitalize">Cargo:<b> {{data?.nombre}} </b></h3>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <h3 class="fullText">Fecha:<b> {{ today | date: 'dd/MM/yy'}} </b></h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <h5 class="ion-padding-start"><b> Comportamiento </b></h5>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <h5> <b> Nivel </b></h5>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of data?.comportamientos"
      (click)="verComportamientoDetalle(item?.id)" class="ion-no-padding ion-no-margin">
      <ion-col size="9" class="ion-no-padding ion-no-margin">
        <p class="ion-no-padding ion-no-margin ion-padding-top ion-text-capitalize ion-text-lowercase ion-padding-start"> {{item?.comportamiento}} </p>
      </ion-col>
      <ion-col size="3" class="ion-no-padding ion-no-margin ion-text-center">
        <h5> <b>{{evaluacion['id' + item?.id]}} </b></h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button (click)="confirmaEvaluacion()" [disabled]="cantidadEvaluacion.length < 6" expand="block" shape="round" type="submit">
          Guardar
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
