<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="inicio" color="secondary" [defaultHref]="login ? 'inicio': 'login'" [text]="''">
      </ion-back-button>
      <ion-button *ngIf="!inicio" fill="clear">
        <ion-icon [hidden]="!inicio" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-no-padding ion-no-margin" style="font-size: 30px;" (click)=goTo()>
      <h1> <b> INS<span>O</span>TEC </b>
        <p class="ion-no-padding ion-no-margin" style="font-size: 11px; margin-top: -5px;">Colaborador</p>
      </h1>

    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button *ngIf="fin" color="secondary"></ion-menu-button>

      <ion-button *ngIf="!fin" fill="clear">
        <ion-icon [hidden]="!fin" slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
