<app-header-insotec [inicio]=true [fin]=true></app-header-insotec>

<ion-content class="ion-text-center">
  <div *ngIf="data && data.length > 0">

    <h3 class="ion-text-center"> Mi equipo </h3>
    <ion-list>
      <ion-item class="ion-no-padding ion-no-margin">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-align-self-center ion-text-start ion-padding-start ion-no-padding ion-no-margin ion-text-capitalize">
              <b>Colaborador</b>
            </ion-col>
            <ion-col size="2" class="ion-text-center ion-no-padding ion-no-margin ion-text-capitalize fullText">
              <b>Eval.</b>
            </ion-col>
            <ion-col size="2" class="ion-text-center ion-text-end ion-no-padding ion-no-margin fullText">
              <b>Prom.</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let evaluacion of data" class="ion-no-padding ion-no-margin" (click)="setUserEvaluar(evaluacion)">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-align-self-center ion-text-start ion-padding-start ion-no-padding ion-no-margin ion-text-capitalize">
              {{evaluacion?.name}}
            </ion-col>
            <ion-col size="2" class="ion-no-padding ion-no-margin ion-text-center">
              {{evaluacion?.cantidad_evaluacion}}
            </ion-col>
            <ion-col size="2" class="ion-padding-end ion-text-end ion-no-padding ion-no-margin">
              {{evaluacion?.promedio_evaluacion}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>


  </div>
  <div *ngIf="data && data.length == 0">
    <h5 class="ion-padding">Usted No tiene trabajadores a evaluar</h5>
  </div>
</ion-content>
