<app-header-insotec [inicio]=true [fin]=true></app-header-insotec>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title> Dashboard
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-buttons style="float: right; margin-top: -45px;">
        <ion-button [hidden]="!matriz && !sucursal && !agencia && !comportamiento && !drillDown" size="small" slot="icon-only" fill="clear" (click)="reset()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" slot="icon-only" fill="clear" (click)="show = !show">
          <ion-icon *ngIf="show"  name="caret-down-outline"></ion-icon>
          <ion-icon *ngIf="!show" name="caret-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-grid class="ion-no-padding ion-no-margin clearfix" [hidden]="!show">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="5" class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label position="floating" color="primary">
                Sucursal
            </ion-label>
            <ion-select [(ngModel)]="sucursal" [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios" class="ion-no-padding ion-no-margin" (ionChange)="filter()">
              <ion-select-option value="">Todas</ion-select-option>
              <ion-select-option *ngFor="let item of sucursales"  value="{{item?.id}}"> {{item?.nombre}} </ion-select-option>
            </ion-select>
          </ion-item>
          </ion-col>

          <ion-col size="5" offset="2" class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label position="floating" color="primary" class="fullText">
                Matriz
              </ion-label>
              <ion-select [(ngModel)]="matriz" [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios" class="ion-no-padding ion-no-margin" (ionChange)="filter()">
                <ion-select-option value="">Todas</ion-select-option>
                <ion-select-option *ngFor="let item of matrices"  value="{{item?.id}}"> {{item?.nombre}} </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5" class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label position="floating" color="primary" class="fullText">
                Agencia
              </ion-label>
              <ion-select [(ngModel)]="agencia" [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios" class="ion-no-padding ion-no-margin" (ionChange)="filter()">
                <ion-select-option value="">Todas</ion-select-option>
                <ion-select-option *ngFor="let item of agencias"  value="{{item?.id}}"> {{item?.nombre}} </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5" class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
                <ion-label position="floating" color="primary">
                  Fecha inicio
              </ion-label>
              <ion-datetime [(ngModel)]="from" (ionChange)="filter()"  displayFormat="D MMM YY" display-timezone="utc" class="ion-no-padding ion-no-margin"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="5" offset="2" class="ion-no-padding ion-no-margin">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
                <ion-label position="floating" color="primary">
                 Fecha fin
              </ion-label>
              <ion-datetime [(ngModel)]="end" (ionChange)="filter()" displayFormat="D MMM YY" display-timezone="utc" class="ion-no-padding ion-no-margin"></ion-datetime>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item class="ion-no-padding ion-no-margin">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-align-self-center ion-text-start ion-padding-start ion-no-padding ion-no-margin ion-text-capitalize">
            <div *ngIf="order=='comportamiento' && sortAsc" style="float: left;">
              <ion-icon name="caret-down-outline"></ion-icon>
            </div>
            <div *ngIf="order=='comportamiento' && !sortAsc" style="float: left;">
              <ion-icon name="caret-up-outline"></ion-icon>
            </div>
            <b>Comportamiento</b>
          </ion-col>
          <ion-col size="2" *ngIf="drillDown" class="ion-text-center ion-no-padding ion-no-margin fullText">
            <b class="ion-text-capitalize">{{drillDown}}</b>
          </ion-col>
          <ion-col size="2" class="ion-text-center ion-text-end ion-no-padding ion-no-margin fullText">
            <div *ngIf="order=='promedio_evaluacion' && sortAsc" style="float: left;">
              <ion-icon name="caret-down-outline"></ion-icon>
            </div>
            <div *ngIf="order=='promedio_evaluacion' && !sortAsc" style="float: left;">
              <ion-icon name="caret-up-outline"></ion-icon>
            </div>
            <b>Prom.</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let evaluacion of data" [style.--ion-item-background]="getColor(evaluacion?.valor_evaluacion)" class="ion-no-padding ion-no-margin">
      <!-- <div slot="start" class= "vertical"></div> -->

      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col (click)="filtroComportamiento(evaluacion?.comportamiento_id, evaluacion?.sucursal_id,  evaluacion?.agencia_id,  evaluacion?.usuario_evaluador)" class="ion-align-self-center ion-text-start ion-padding-start ion-no-padding ion-no-margin ion-text-capitalize">
            {{evaluacion?.comportamiento}}
          </ion-col>
          <ion-col size="2" *ngIf="drillDown" class="ion-text-center ion-no-padding ion-no-margin">
            {{evaluacion?.drillDown}}
          </ion-col>
          <ion-col size="2" class="ion-padding-end ion-text-end ion-no-padding ion-no-margin">
            {{evaluacion?.valor_evaluacion}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
