<app-header-insotec [inicio]=true [fin]=true></app-header-insotec>


  <ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Resultado de evaluación</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>Colaborador: <b> {{colaborador?.name}} </b></h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <h3 class="fullText ion-text-capitalize">Matriz:<b> {{ data && data[0] ? data[0]?.matriz?.nombre : ''}} </b></h3>
            </ion-col>
            <ion-col size="6" class="ion-text-end" *ngIf="data && data[0]" >
              <h3 class="fullText">Fecha:<b> {{ data[0]?.created_at | date: 'dd/MM/yy'}} </b></h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-no-padding ion-no-margin ion-padding-start">
          <h5 class="ion-text-capitalize"><b> Comportamiento </b></h5>
        </ion-col>
        <ion-col size="2" class="ion-text-center fullText ion-no-padding ion-no-margin">
          <h5> <b> Actual </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b> 3 </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b> 2 </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b> 1 </b></h5>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of comportamientos" (click)="verComportamientoDetalle(item?.id)">
        <ion-col size="6">
          <h6 class="ion-text-capitalize ion-padding-start ion-no-padding ion-no-margin"> {{item?.comportamiento}} </h6>
        </ion-col>
        <ion-col size="2" class="ion-text-center ion-no-padding ion-no-margin" style="background-color: gainsboro;">
          <h5> <b> {{getEvaluacionValor(0, item?.id)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValor(1, item?.id)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValor(2, item?.id)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValor(3, item?.id)}} </b></h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-no-padding ion-no-margin ion-align-self-center">
          <h6 class="ion-text-capitalize ion-padding-start ion-no-padding ion-no-margin">Nota Promedio </h6>
        </ion-col>
        <ion-col size="2" class="ion-text-center ion-no-padding ion-no-margin" style="background-color: gainsboro;">
          <h5> <b> {{getEvaluacionValorPromedio(0)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValorPromedio(1)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValorPromedio(2)}} </b></h5>
        </ion-col>
        <ion-col class="ion-text-center ion-no-padding ion-no-margin">
          <h5> <b>  {{getEvaluacionValorPromedio(3)}} </b></h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-label position="floating">Recomendaciones</ion-label>
            <ion-textarea [(ngModel)]="recomendaciones"></ion-textarea>
        </ion-col>

        <ion-col size="8" offset="2">
        <ion-button (click)="guardar()" [disabled]="!recomendaciones" shape="round" fill="outline" expand="block">Enviar</ion-button>
      </ion-col>

      </ion-row>
    </ion-grid>

  </ion-content>
